.common {
    position: absolute;
    font-size: 21px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 500px;
}

.leftmenu {
    top: 505px;
    left: 400px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
}

.mainbody {
    top: 550px;
    left: 550px;
    right: 550px;
    bottom: 39px;
}

.rightmenu {
    top: 505px;
    right: 400px;
    width: 100px;
    bottom: 39px;
}

.leftanchor {
    left: 330px;
    right: 5px;
    position: absolute;
    top: 25px;
}

.rightanchor {
    position: absolute;
    right: 5px;
    left: 1060px;
    top: 25px;
    font-size: 20px;
    padding-left: 30px;
}

.headerbg {
    background-image: url(res.webp);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    left: 750px;
    right: 500px;
    top: 150px;
    bottom: 700px;
    position: absolute;
    color: white;
    font-size: 40px;
    display: block;
}